*{
    /*reset*/
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}
/*menu*/
.barraDeMenu>h1{
    margin-left: 20px;
    font-size: 20px;
    color: #ffffffab;
    text-transform: uppercase;
}
.barraDeMenu{
    width: 100%;
    background-color: #d79143;
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
   
}
.menuList{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.menuList li{
    list-style-type: none;
}
.menuList li a{
   text-decoration: none;
    color:black;

}  
.menuList .submenu {
    display: none;
    position: absolute;
}

.menuList li:hover .submenu {
    display: block; 
}

.menuList {
    list-style: none;
    padding: 0;
}

.menuList > li {
    position: relative;
}

.menuList li {
    display: inline-block;
}

.menuList li:hover {
    background-color: #f0f0f0; 
} 
/*valle de uco titulos*/
.titulo{
    background-image: url(./../img/valledeuco.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.titulo>h2{
    font-size: 8em;
    color: #ffffffab;
    position: relative;
    top: 59%;
}
/*valle de uco experiencias*/
.experiencias>h3{
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
}
.experiencias>h4{
    font-size: 20px;
    text-align: center;
    color: #878787;
}
.experiencia {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    margin-bottom: 30px;
}
/*valle de uco experiencias imagenes*/
.item-img {
    flex: 1;
    margin: 0 10px;
}

.item-img>img {
    align-items: flex-end;
    width: 100%;
    height: auto;
    overflow: hidden;
    width: 80%;
    
}
/*valle de uco experiencias descripciones*/
.item-description {
    flex: 1;
    padding-left: 20px; 
}

.item-description >h4 {
    margin-bottom: 10px;
}
.item-description >h5 {
    margin-bottom: 10px;
    font-size: 90%;
    color: #d79143;
}

/*valle de uco reserva*/
.reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 3px solid #d79143;
    border-bottom: 3px solid #d79143;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iconoReserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;

   
}
.reserva>h4{
    font-size: 3em;
    color: #d79143;
}
.iconoReserva>i{
    color: #d79143;
    font-size: 50px;
}
.iconoReserva>span{
    font-size: 30px;
}
/*footer*/
.foot-nav{
    background-color: #d79143;
}
.foot-nav>ul{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    padding: 20px 0;
}
    
.foot-nav>i{
    font-size: 32px;
    display: flex;
    justify-content:center;
    
}

.tituloN>h2{
    padding: 80px 0;
    font-size: 90px; 
    align-items: start;
}

.tituloR>h2{
    padding: 80px 0;
    font-size: 90px ;
    align-items: center ;
}

/* newsletter de valleDeUco */
.contenedor-suscripcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #d79143;
}

.contenido-suscripcion {
    display: flex;
    align-items: center; 
}

.contenido-suscripcion i {
    color: #d79143;
    font-size: 70px;
    margin-right: 10px;
}

.contenido-suscripcion h2, .contenido-suscripcion p {
    margin: 10px;
}

.contenido-suscripcion h2 {
    font-size: 18px;
    color: #333;
}

.contenido-suscripcion p {
    font-size: 14px;
    color: #777; 
}

.formulario-suscripcion input[type="email"] {
    border: 2px solid #d79143;
    padding: 10px;
    margin-right: 20px;
}

.formulario-suscripcion button {
    background-color: #d79143;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.formulario-suscripcion button:hover {
    background-color: #E69500; 
}
/* contacto.html */
.contacto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 20px;

}
.contact-descripcion {
    max-width: 50%;
}

.contact-descripcion h2 {
    color: #333;
    font-size: 2rem; 
    margin-bottom: 20px;
}

.contact-descripcion p {
    color: #777; 
    font-size: 1rem; 
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-image {
    max-width: 50%;
}

.contact-image img {
    width: 100%; 
    height: auto;
    display: block;
    margin: 20px;
}
