*{
    /*reset*/
    padding: 0%;
    margin: 0%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}
/*menu*/
.barraDeMenu>h1{
    margin-left: 20px;
    font-size: 20px;
    color: #ffffffab;
    text-transform: uppercase;
}
.barraDeMenu{
    width: 100%;
    background-color: #d79143;
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
   
}
.menuList{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.menuList li{
    list-style-type: none;
}
.menuList li a{
   text-decoration: none;
    color:black;

}  
.menuList .submenu {
    display: none;
    position: absolute;
}

.menuList li:hover .submenu {
    display: block; 
}

.menuList {
    list-style: none;
    padding: 0;
}

.menuList > li {
    position: relative;
}

.menuList li {
    display: inline-block;
}

.menuList li:hover {
    background-color: #f0f0f0; 
} 
/*valle de uco titulos*/
.titulo{
    background-image: url(./../img/valledeuco2.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.titulo>h2{
    font-size: 6em;
    color: #ffffffab;
    position: relative;
    top: 55%;
    text-align: center;
}
/*valle de uco experiencias*/
.experiencias>h3{
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
}
.experiencias>h4{
    font-size: 20px;
    text-align: center;
    color: #878787;
}
.experiencia {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    margin-bottom: 30px;
}
/*valle de uco experiencias imagenes*/
.item-img {
    flex: 1;
    margin: 0 10px;
}

.item-img>img {
    align-items: flex-end;
    width: 100%;
    height: auto;
    overflow: hidden;
    width: 80%;
    
}
/*valle de uco experiencias descripciones*/
.item-description {
    flex: 1;
    padding-left: 20px; 
}

.item-description >h4 {
    margin-bottom: 10px;
    font-size: 35px;
}
.item-description >h5 {
    margin-bottom: 10px;
    font-size: 30px;
    color: #d79143;
}
.item-description >p {
    margin-bottom: 10px;
    font-size: 20px;
}

/*valle de uco reserva*/
.reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 3px solid #d79143;
    border-bottom: 3px solid #d79143;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iconoReserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px; 
}
.reserva>h4{
    font-size: 3em;
    color: #d79143;
}
.iconoReserva>i{
    color: #d79143;
    font-size: 50px;
}
.iconoReserva>span{
    font-size: 30px;
}
/*footer*/
.footer{
    background-color: #777;
    color: #fff;
    padding: 20px;
    text-align:center;
}

.tituloN>h2{
    padding: 80px 0;
    font-size: 90px; 
    align-items: start;
}

.tituloR>h2{
    padding: 80px 0;
    font-size: 90px ;
    align-items: center ;
}

/* newsletter de valleDeUco */
.contenedor-suscripcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #d79143;
}

.contenido-suscripcion {
    display: flex;
    align-items: center; 
   
}

.contenido-suscripcion i {
    color: #d79143;
    font-size: 70px;
    margin-right: 10px;
}

.contenido-suscripcion h2, .contenido-suscripcion p {
    margin: 10px;
}

.contenido-suscripcion h2 {
    font-size: 22px;
    color: #333;
}

.contenido-suscripcion p {
    font-size: 20px;
    color: #777; 
}

.formulario-suscripcion input[type="email"] {
    border: 2px solid #d79143;
    padding: 10px;
    margin-right: 20px;
}

.formulario-suscripcion button {
    background-color: #d79143;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.formulario-suscripcion button:hover {
    background-color: #E69500; 
}
/* contacto.html */
.contacto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin: 20px;

}
.contactoDescripcion {
    max-width: 50%;
}

.contactoDescripcion> h2 {
    color: #333;
    font-size: 40px; 
    margin: 20px;
}

.contactoDescripcion>p {
    color: #777; 
    font-size: 25px; 
    margin: 20px;
}

.contactoImage>img {
    width: 100%; 
    height: auto;
    display: block;
    margin: 50px;
}
/* api maps */
#map {
    margin: 10%;
	height: 300px;
	width: 30%;
}


.crea{
    padding: 80px 0;
    flex-direction: row;
    font-size: 90px;
}

.vision{
    padding: 50px 0;
    font-size: 10px;
    align-items: center;
    flex-direction: column;
}

>>>>>>HEAD
.visitabodega1>h3{
    flex: 1;
    margin: 0 60px;
    color: #d79143;
}




.visitabodega{
    margin-bottom: 10px;
    font-size: 90%;
    color: #d79143;
    margin: 0 60;
}



.visita{
    flex: 1;
    margin: 0 90px;
}
.creatucortevino>h3{
    flex: 1;
    margin: 0 60px;
    color: #d79143;
}

   
 .itemcrear{
    flex: 1;
    margin: 0 90px;
 }   

 
 .crea{
    flex: 1;
    margin: 0 90px;
 }
 .crearvino{
    flex: 5;
    margin: 0 90px;
 }
/* formulario contacto.html*/
.oculto {
    display: none;
}

#formularioCliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #d79143;
    color: #fff;
}

.paso {
    border: 2px solid #ddd;
    padding: 20px;

}
.formulario>button{
    background-color: #d79143;
    border: none;
    padding: 10px 20px;
    color: white;
    align-self: center;
}

.formulario>button:hover {
    background-color: #E69500; 
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%; 
    margin: 65px; 
}
.formulario>h2{
    color: #333;
    font-size: 40px;
    margin: 20px;
}

.formulario>p {
    color: #777;
    font-size: 25px;
    margin: 20px;
}

